.wrapper {
  display: flex;
  margin-top: 200px;
}

.center {
  justify-content: center;
}

.spacearound {
  justify-content: space-around;
}

.question {
  background-color: white;
  border-radius: 5px;
  padding: 75px;
}
